body {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --azul-corporativo: #003366; 
  --amarillo-acento: #FFAA00;
  --gris-claro: #D9D9D9;
  --verde-suave: #A3D9A5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: var(--azul-corporativo);
}